body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
}


/* Navbar */
.navbar{
    align-content: center;
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: #7dacdb;
    z-index: 10;
}
.navbar a {
    float: left;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    font-weight: bold;

}

.container{
   
    color: white;
    width: 90%;
    margin: 0 auto;
    
}

.container h3{
    float: left;
    margin: 0;
    margin-top: 5px;
    font-size: 30px;
    margin-right: 50px;
    font-family: 'Gochi Hand', cursive;
    
    
}

.search_bar{
    float: right;
    transition: 0.7s;
}

.search_bar:hover button{
    border-radius: 0 10px 10px 0;
    transition: ease-out 1.7s;
    
}
.search_bar:hover input{
    width: 350px;
    transition: .7s;
    padding: 6px;
}
.search_bar:hover select{
    width: auto;
    padding: 7.5px;
    transition: .7s;
}


.search_bar input{
    float: left;
    margin-top: 8px;
    margin-right: 0px;
    padding: 0;
    font-size: 17px;
    border: none;
    width: 0px;
    overflow: hidden;
    transition: 0.7s
}

.search_bar button{
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background: #f78fdd;
    font-size: 17px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transition: 0.7s
}

.search_bar select{
    float: left;
    margin-top: 8px;
    padding: 0;
    width: 0;
    border-radius: 10px 0px 0px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 250, 180);
    color: gray;
    transition: 0.7s
}
.search_bar select option{
    font-weight: bold;
    background-color:rgb 255, 250, 180;
    color: gray;
}

/* Categoria Bar */

.categoria{
    padding: 50px 0;
    background-color:  #b7d2eca6;
    width: 100%;
    height: 10px;
    z-index: 9;
    /* position: fixed; */
}

.categoria .container{
    /* padding-top: 20px; */
    display: flex;
    width: 70%;
    /* border: solid 1px #7dacdb; */
}

.categoria a{
    padding: 20px 0 ;
    color:   #000000;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    font-weight: bold;
}

.card{
    width: 20%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 30px;
    padding: 15px 0;
    /* border-left: solid 1px #7dacdb; */
    /* border-right: solid 1px #7dacdb; */
    /* border-bottom: solid 3px #7dacdb; */
    cursor: pointer;
    transition: 0.4s;
}

.card:hover{
    background-color: #9a9cffb4 !important;
    
}

/* Main */

.main{
    margin: 0px 0;
    display: flex;
    /* background-image: url(./Imagens/Banner/banner1.png); */
    background-color: #b7d2eca6;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;

}

.main .container{
    display: flex;
    width: 70%;
    background-color: white;
}


.perfil{
    height: 1720px;
    background-color: rgba(255, 255, 255, 0.685);
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.section{
    display: flex ;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card_perfil{
    
    /* float: left; */
    width: 20%;
    padding: 0 10px;
    margin: 50px;
    background-color:white;
    width: 160px;
    height: 230px;
    box-shadow: -2px 5px 15px -3px rgba(0,0,0,0.7);
    border-radius: 10px;
    
}

.card_perfil:hover{
    transform: scale(1.05);
    cursor: pointer;

}

.card_perfil img{
    position: relative;
    right: 10px;
    margin-bottom: 4px;
    border-radius: 10px 10px 0 0px;
    width: 180px;
    height: 150px;
    margin-bottom: 10px;
    }

.card_perfil span{
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1px;

}

.card_perfil h4{
    color: black;
    margin-top: 5px;
    font-size: 12px;

}

.page{
    align-self: center;
    
    color: rgb(108, 108, 245);
}

.page a{
    text-decoration: none;

}




/* Footer */

.footer{
    background-color: #7dacdb;
    height: 230px;
    border-top:10px solid;
    border-color: #f78fdd ;
}

.footer .container{
    display: flex;
    justify-content: space-between;

}
.footer .desc{
    padding-top: 20px;
    width: 33%;
    text-align: center;

}

.desc h3{
    float: none;
    margin: 0;
    /* text-align: left; */
}

.desc button{
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;

}